
    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">SeatGeek For All! #thisis2016</h2>
                    <h3>Find your accessible seats with one touch of a button! </h3>

                    <form class='form'>
                        <input type="text" name="search", class="search-bar", size="60" placeholder="Venue, Artist, Date" value="<%=@search%>">
                    <div class="accessible-options">
                         <input name='left aisle seats' type='checkbox'>Left Aisle
                              <input name='right aisle seats' type='checkbox' >Right Aisle
                         <%=check_box_tag 'ground floor'%> Ground Floor
                          <%= check_box_tag 'wheelcahir access'%>  Wheelchair Access <br>
                         <%= check_box_tag 'close to exit'%> Close to Exit
                         <%= check_box_tag 'assisted listening device'%> Assisted Listening device
                        <%= check_box_tag 'quiet space'%> Quiet Space
                    </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-lg">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
      <div class="container">
            <div class="row" class="search-results">

    <!-- QUESTION TO TEAM : SHOULD WE TURN INTO PARTIAL? - SR -->
                <% if @search == nil %>
                <% else %>
                <% @search_result["venues"].map do |result| %>
                    <% @venue_match.each do |match| %>

                        <% if match["name"] == result["name"]%>
                            <a href="venues/<%=match.id%>"><%=match["name"]%></a><br/>
                        <% end %>
                    <% end %>
                    <%= result["name"] %><br/>
                    <%= result["display_location"].titleize %><br/><br/>
                <% end %>

            <% end %>
            </div>
     </div>
    </section>
<iframe width="1400" height="600" frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAzbkgKDoOrJ5OhHICG9FHU_OYBPV0m81w&q=400+lafayette+st+new+york"
 allowfullscreen>
</iframe>
    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>